<%- include('../partials/head') %>
<h1>VRAAG 9</h1>
<form action="/vraag10" method="post" id="vraag9">
    <fieldset id="nummer-container">
        <legend>Geef de studentassisten een cijfer: *</legend>
    
        <% if (parsedData.assistentcijfer) { %>
        <label>Cijfer van 1 tot 10<input id="nummer" name="assistentcijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$" value="<%= parsedData.assistentcijfer %>" requiredaria-describedby="verplicht-beschrijving"></label>
        <% } else { %>
        <label>Cijfer van 1 tot 10<input id="nummer" name="assistentcijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$" required aria-describedby="verplicht-beschrijving"></label>
        <% } %>

    </fieldset>
    <%- include('../partials/verplicht') %>

    <nav>
        <ul>
            <a href="/vraag8?studentnummer=<%= studentnummer %>">Terug</a>
            <input form="vraag9" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=9>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="laterverder">
    <label for="link">Later verder gaan? Gebruik deze link:</label>
    <input id="link" type="text" readonly value="http://localhost:3000/laterverder?studentnummer=<%= studentnummer %>">
</section>
<section id="progressInfo">
    <label for="voortgang">Vraag 9 van 10</label>
    <progress id="voortgang" max="100" value="90">90%</progress>
</section>
<%- include('../partials/foot') %>