<%- include('../partials/head') %>
<h1>VRAAG 6</h1>
<form action="/vraag7" method="post" id="vraag6">
    <fieldset id="nummer-container">
        <legend>Geef Slack een cijfer: *</legend>

        <% if (parsedData.slackcijfer) { %>
        <label>Cijfer van 1 tot 10<input id="nummer" name="slackcijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$" value="<%= parsedData.slackcijfer %>" required aria-describedby="verplicht-beschrijving"></label>
        <% } else { %>
        <label>Cijfer van 1 tot 10<input id="nummer" name="slackcijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$" aria-describedby="verplicht-beschrijving"></label>
        <% } %>
    </fieldset>
    <%- include('../partials/verplicht') %>

    <nav>
        <ul>
            <a href="/vraag5?studentnummer=<%= studentnummer %>">Terug</a>
            <input form="vraag6" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=6>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="laterverder">
    <label for="link">Later verder gaan? Gebruik deze link:</label>
    <input id="link" type="text" readonly value="http://localhost:3000/laterverder?studentnummer=<%= studentnummer %>">
</section>
<section id="progressInfo">
    <label for="voortgang">Vraag 6 van 10</label>
    <progress id="voortgang" max="100" value="60">60%</progress>
</section>
<%- include('../partials/foot') %>