<%- include('../partials/head') %>
<h1>VRAAG 8</h1>
<form action="/vraag9" method="post" id="vraag8">
    <fieldset>
        <legend>Hoe zouden de studentassistenten beter ingezet kunnen worden?</legend>
    
        <% if (parsedData.assistentfeedback) { %>
        <textarea name="assistentfeedback" id="" cols="30" rows="10"><%= parsedData.assistentfeedback %></textarea>
        <% } else { %>
        <textarea name="assistentfeedback" id="" cols="30" rows="10"></textarea>
        <% } %>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag7?studentnummer=<%= studentnummer %>">Terug</a>
            <input form="vraag8" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=8>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="laterverder">
    <p>Later verder gaan? Gebruik deze link:</p>
    <p>http://localhost:3000/laterverder?studentnummer=<%= studentnummer %></p>
</section>
<section id="progressInfo">
    <label for="voortgang">Vraag 8 van 10</label>
    <progress id="voortgang" max="100" value="80">80%</progress>
</section>
<%- include('../partials/foot') %>